.content > .right-side {
    text-align: justify;
}

.top-line {
    color: aliceblue;
    padding-left: 60px;
    font-size: 2.1em;
    width: 50%;
}

.bottom-line {
    color: aliceblue;
    padding-left: 60px;
    font-size: 1.8em;
    width: 50%;
}

.content > .text {
    padding-top: 30px;
    display: block;;
    grid-template-rows: auto;
}


.content > .right-side img {
    padding: 65px 0px 65px 65px;
    float: right;
    width: 50%;
    height: 50%;
}